.ms_bg_dark {
    background-color: #2C3E50;
}

.ms_bg_green{
    background-color: #1ABC9C;
}

.ms_img_wrapper {
    width: 170px;
}

.ms_border {
    width: 130px;
    height: 0;
    border: 1px solid white;
}

.ms_border_black {
    width: 130px;
    height: 0;
    border: 1px solid;
}

.star_size {
    font-size: 30px;
}

.ms_card_wrapper {
    position:relative;
    width: 400px;
    overflow: hidden;
}

.img_card {
    width: 100%;
}

.ms_col-count-md-2 {
    column-count: 1;
}

@media all and (min-width: 768px) {
    .ms_col-count-md-2 {
        column-count: 2;
    }
}



.nav-link:hover {
    color: white !important;
}

.overlay {
    position: absolute;
    background: rgba(26, 188, 156, 0.766);
    bottom: 0;
    top: 0;
    width: 94%;
    height: 100%;
    transition: .5s ease;
    opacity:1;
    z-index: 1;
}

@media all and (max-width: 475px) {
    .overlay {
        width: 93%;
    }
}

.ms_fs-big {
    font-size: 80px;
}

.ms_card_wrapper:hover .overlay {
    opacity: 0;
}

.debug [class*="col"] {
    border: 1px solid ;
}