.ms_bg_dark {
    background-color: #2C3E50;
}

.ms_bg_green{
    background-color: #1ABC9C;
}

.ms_img_wrapper {
    width: 170px;
}

.ms_border {
    width: 170px;
    height: 0;
    border: 2px solid white;
    border-radius: 999px;
}

.ms_border_black {
    width: 170px;
    height: 0;
    border: 2px solid;
    border-radius: 999px;
}

/* .star-container::before, .star-container::after {
    content: "";
    display: block;
    height: 4px;
    width: 170px;
    border-radius: 999px;
    background-color: white;
} */

/* .job-titles li:not(:last-child)::after{
    content: "-";
    display: inline;
    padding: 0, 15px;
} */

.star_size { 
    font-size: 30px;
}

.ms_card_wrapper {
    border-radius: 10px;
    position:relative;
    overflow: hidden;
    max-width: 400px;
}

.ms_card_wrapper::after {
    content: "";
    display: block;
    background-color: #1abc9c9b;
    position: absolute;
    transition: all 1s ease-in-out;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.ms_card_wrapper::after,
.ms_card_wrapper i {
    opacity: 0;
}

.ms_card_wrapper:hover::after,
.ms_card_wrapper:hover i {
    transition: all 1s ease-in-out;
    opacity: 1;
}

.ms_card_wrapper:hover i {
    z-index: 10;
}

.img_card {
    width: 100%;
}

.ms_col-count-md-2 {
    column-count: 1;
}

@media all and (min-width: 768px) {
    .ms_col-count-md-2 {
        column-count: 2;
    }
}



.nav-link:hover {
    color: white !important;
}

/* @media all and (min-width: 768px) and (max-width: 992px) {
    .overlay {
        width: 91%;
        height: 91%;
    }
} */

.ms_fs-big {
    font-size: 80px;
}

.ms_card_wrapper:hover .overlay {
    opacity: 0;
}

.debug [class*="col"] {
    border: 1px solid ;
}